/* -------- COMMOM -------- */
.deal-header{
    padding-top: 40px;
}

.deal-header .page-header-block{
    padding: 0px;
}

.deal-header h1{
    float: left;
    font-size: 30px;
    font-weight: 600;
    margin: 5px 0px;
}

.deal-header h1 span{
    color: #888888;
    cursor: pointer;
    float: left;
    font-size: 25px;
    margin-top: 2px;
    margin-right: 5px;
}

.deal-header .nav{
    float: left;
    width: 100%;
}

.navbar-fixed-top + .deal-content{
    padding-top: 60px;
}

.deal-content .row-stretch{
    float: left;
    width: 100%;
    min-height: 100vh;
    padding: 140px 0px 0px !important;
    position: absolute;
    top: 0;
    z-index: 1;
}

.deal-content .deal-sections{
    float: left;
    width: 200px;    
}

.deal-content .deal-sections .fixed{
    position: fixed;
    width: 200px;
}

.deal-content .top-toolbar, .deal-content .content-block{
    padding: 10px;
}

.deal-content .top-toolbar h3{
    margin: 0px;
    padding: 0px;
}

.deal-content .top-toolbar h3 span{
    cursor: pointer;
    float: right;
    font-size: 16px;
}

.deal-content .content-block .row{
    margin-bottom: 15px;
}

.deal-content .content-block label{
    padding-bottom: 3px;
    width: 100%;
}

.deal-content .content-block .row small{
    color: rgba(29, 29, 29, 0.65);
    float: left;
    font-style: italic;
    margin-right: 10px;
    margin-top: 24px;
}

.deal-content .edit-field button{
    display: none;
    float: left;
    margin-top: 17px;
}

.deal-content .edit-field .btn-group button{
    display: block;
    margin-top: 0px;    
}

.deal-content .answer{
    float: left;
    font-weight: 600;
    padding: 9px 0px;
}

.deal-content .edit-field:hover button{
    display: block;
}

.text-center{
    text-align: center;
}

.text-center button{
    margin-left: 5px;
}

.deal-content .alert{
    left: 0;
    position: fixed;
    text-align: center;
    top: 140px;
    width: 100%;
    z-index: 9999;
    opacity:1;
    transition: opacity 3s;     
}

.deal-content .alert.fade {
    opacity:0;
}

.deal-content .alert-success{
    background: rgba(169,202,104,0.95);    
}
/* -------- END COMMOM -------- */
/* -------- AUTOSAVECOMPONENT -------- */
.deal-header .autosave{
    color: rgba(29, 29, 29, 0.65);
    float: right;
    margin-top: 7px;
}

.deal-header .autosave small{    
    float: right;
    margin-right: 3px;
    margin-top: 4px;
    text-align: right;
}

.deal-header .autosave span{
    color: rgba(0, 0, 0, 0.4);
    float: right;
    font-size: 20px;
}

.deal-header .autosave button{
    float: right;
    margin-left: 10px;
    margin-top: 2px;
}
/* -------- END AUTOSAVECOMPONENT -------- */
/* -------- DEALDETAILSCOMPONENT  -------- */
.deal-header .deal-details{
    float: left;     
    list-style: none;
    margin: 8px 0px 0px 10px;    
    padding: 0px;
}

.deal-header .deal-details li{
    border-left: 1px solid rgba(0, 0, 0, 0.12);
    color: rgba(29, 29, 29, 0.65);
    float: left;
    font-style: italic;
    height: 29px;
    line-height: 29px;
    padding: 0px 10px;
    text-align: center;
    width: 120px;
}

.deal-header .deal-details li.edit{
    font-style: normal;
    width: 320px;
}

.deal-header .deal-details li.edit span{
    text-align: left;
}

.deal-header .deal-details li.edit:first-child{
    color: #000000;
    font-weight: 600;
    width: 160px;
}

.deal-header .deal-details li.edit:last-child{
    color: #1d769f;
    width: 120px;
}

.deal-header .deal-details li span{
    display: inline-block;
    line-height: normal;
    vertical-align: middle;
}

.deal-header .deal-details li button{
    color: #1d769f;
    cursor: pointer;
    display: none;
    line-height: normal;
    vertical-align: middle;
}

.deal-header .deal-details li:hover span{
    display: none;
}

.deal-header .deal-details li:hover button{
    display: inline-block;
}

.deal-header .deal-details li.edit button{
    font-weight: normal;
}
/* -------- END DEALDETAILSCOMPONENT -------- */
/* -------- DEALSWITCHVIEWCOMPONENT -------- */
.deal-sections .switch-view{
    color: rgba(29, 29, 29, 0.65);
    cursor: pointer;
    float: left;
    padding: 5px 10px 10px;
    text-align: center;
    width: 100%;
}

.deal-sections .switch-view small{
    display: inline-block;
    font-size: 12px;
    line-height: normal;
    padding-top: 8px;
    vertical-align: middle;
}

.deal-sections .switch-view span{
    display: inline-block;
    font-size: 20px;
    line-height: normal;
    margin-left: 10px;
    vertical-align: middle;
}
/* -------- END DEALSWITCHVIEWCOMPONENT -------- */
/* -------- DEALTABSCOMPONENT -------- */
.deal-sections .sidebar-list{
    float: left;
    margin: 0px;
    padding: 8px 10px;
    width: 100%;
}
/* -------- END DEALTABSCOMPONENT -------- */
/* -------- RIGHTSIDEBARCOMPONENT -------- */
.sidebar-content {
    display: block;
    z-index: 2;
}

.sidebar-content .mask{
    background: rgba(0, 0, 0, 0.5);
    display: none;
    float: left;
    left: 0;
    min-height: 100%;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;
}

.sidebar-content.visible .mask{
    display: block;
}

.sidebar-content > div {
    min-height: 100%;
    padding-top: 140px;
    position: fixed;
    top: 0;
    width: 500px;
    z-index: 2;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-transition: -webkit-transform ease 250ms;
    -moz-transition: -webkit-transform ease 250ms;
    -ms-transition: -webkit-transform ease 250ms;
    -o-transition: -webkit-transform ease 250ms;
    transition: -webkit-transform ease 250ms;
    -webkit-transition: transform ease 250ms;
    -moz-transition: transform ease 250ms;
    -ms-transition: transform ease 250ms;
    -o-transition: transform ease 250ms;
    transition: transform ease 250ms;
}

.sidebar-content > div.right {
    background: #ffffff;
    right: -500px;
}

.sidebar-content.visible > .right {
    transform: translate3d(-500px, 0, 0);
    -ms-transform: translate3d(-500px, 0, 0);
    -webkit-transform: translate3d(-500px, 0, 0);
    -o-transform: translate3d(-500px, 0, 0);
    -moz-transform: translate3d(-500px, 0, 0);
}

.sidebar-content h3 span{
    cursor: pointer;
    float: left;
    margin-right: 10px;
}

.sidebar-content form .row{
    margin-bottom: 15px;
}

.sidebar-content form label{
    margin-bottom: 5px;
    width: 100%;
}

.sidebar-content .load-more{
    cursor: pointer;
    float: left;
    margin-bottom: 15px;
    text-decoration: none;
    width: 100%;
}
/* -------- END RIGHTSIDEBARCOMPONENT -------- */
/* -------- TREECOMPONENT -------- */
.sidebar-content .panel button{
    color: #1d769f;
    cursor: pointer;
    float: right;
}
.sidebar-content .panel.child{
    margin-left: 30px;
}
/* -------- END TREECOMPONENT -------- */
/* -------- DEALHEADERINFORMATIONCOMPONENT -------- */
.dealInformationForm small{
    float: left;
    margin-top: 24px;
}

.dealInformationForm textarea{
    height: 120px;
}
/* -------- END DEALHEADERINFORMATIONCOMPONENT -------- */
/* -------- ADDPRODUCTCOMPONENT -------- */
.addProducts{
    padding: 10px;
}

.addProducts b{
    font-size: 14px;
    margin-bottom: 20px;
}

.addProducts .content-pane{
    margin-top: 15px;
}
/* -------- END ADDPRODUCTCOMPONENT -------- */