/* -------- COMMOM -------- */
html, body{
    margin: 0;
    padding: 0;		   
    min-height:100%;
    height: 100%;
}

.flex-container {
    box-sizing: border-box;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-flow:row;
    min-height:100%;
    position:absolute;
    padding: 140px 0px 0px 200px !important;
    top: 0;
    width:100%;
}

.box {
    flex:1;
    -webkit-flex:1;
    min-width:400px;
    max-width:400px;
}

.deal-header{
    padding-top: 40px;
}

.deal-header .page-header-block{
    padding: 0px;
}

.deal-header h1{
    float: left;
    font-size: 30px;
    font-weight: 600;
    margin: 5px 0px;
}

.deal-header h1 span{
    color: #888888;
    cursor: pointer;
    float: left;
    font-size: 25px;
    margin-top: 2px;
    margin-right: 5px;
}

.deal-header .nav{
    float: left;
    width: 100%;
}

.navbar-fixed-top + .deal-content{
    padding-top: 60px;
}

.deal-content .top-toolbar, .deal-content .content-block{
    padding: 10px;
}

.deal-content .top-toolbar h3{
    margin: 0px;
    padding: 0px;
}

.deal-content .top-toolbar h3 span{
    cursor: pointer;
    float: right;
    font-size: 16px;
}

.deal-content .content-block .row{
    margin-bottom: 15px;
}

.deal-content .content-block label{
    padding-bottom: 3px;
    width: 100%;
}

.deal-content .content-block .row small{
    color: rgba(29, 29, 29, 0.65);
    float: left;
    font-style: italic;
    margin-right: 10px;
    margin-top: 24px;
}

.deal-content .edit-field button{
    display: none;
    float: left;
    margin-top: 17px;
}

.deal-content .edit-field .btn-group button{
    display: block;
    margin-top: 0px;    
}

.deal-content .answer{
    float: left;
    font-weight: 600;
    padding: 9px 0px 3px;
}

.deal-content .edit-field:hover button{
    display: block;
}

.text-center{
    text-align: center;
}

.text-center button{
    margin-left: 5px;
}

.deal-content .alert{
    left: 0;
    position: fixed;
    text-align: center;
    top: 140px;
    width: 100%;
    z-index: 3;
    opacity:1;
    transition: opacity 3s;     
}

.deal-content .alert.fade {
    opacity:0;
}

.deal-content .alert-success{
    background: rgba(169,202,104,0.95);    
}

.deal-content .new-sub-limit{
    left: 600px;
    transform: translateY(-50%);
    position: fixed;
    top: 50%;
}

.deal-content .new-sub-limit.extra-space{
    left: 1000px;    
}

.no-padding{
    margin-left: -10px;
    margin-right: -10px;
}
/* -------- END COMMOM -------- */
/* -------- AUTOSAVECOMPONENT -------- */
.deal-header .autosave{
    color: rgba(29, 29, 29, 0.65);
    float: right;
    margin-top: 7px;
}

.deal-header .autosave small{    
    float: right;
    margin-right: 3px;
    margin-top: 4px;
    text-align: right;
}

.deal-header .autosave span{
    color: rgba(0, 0, 0, 0.4);
    float: right;
    font-size: 20px;
}

.deal-header .autosave button, .deal-header .autosave a{
    float: right;
    margin-left: 10px;
    margin-top: 2px;
}
/* -------- END AUTOSAVECOMPONENT -------- */
/* -------- DEALDETAILSCOMPONENT  -------- */
.deal-header .deal-details{
    float: left;     
    list-style: none;
    margin: 8px 0px 0px 10px;    
    padding: 0px;
}

.deal-header .deal-details li{
    border-left: 1px solid rgba(0, 0, 0, 0.12);
    color: rgba(29, 29, 29, 0.65);
    float: left;
    font-style: italic;
    height: 29px;
    line-height: 29px;
    padding: 0px 10px;
    text-align: center;
    width: 120px;
}

.deal-header .deal-details li.edit{
    font-style: normal;
    width: 320px;
}

.deal-header .deal-details li.edit span{
    text-align: left;
}

.deal-header .deal-details li.edit:first-child{
    color: #000000;
    font-weight: 600;
    width: 160px;
}

.deal-header .deal-details li.edit:last-child{
    color: #1d769f;
    width: 120px;
}

.deal-header .deal-details li span{
    display: inline-block;
    line-height: normal;
    vertical-align: middle;
}

.deal-header .deal-details li a{
    color: #1d769f;
    cursor: pointer;
    display: none;
    line-height: normal;
    text-decoration: none;
    vertical-align: middle;
}

.deal-header .deal-details li:hover span{
    display: none;
}

.deal-header .deal-details li:hover a{
    display: inline-block;
}

.deal-header .deal-details li.edit a{
    font-weight: normal;
}
/* -------- END DEALDETAILSCOMPONENT -------- */
/* -------- DEALSECTIONCONTAINER -------- */
.deal-sections{
    height: 100%;
    padding-top: 140px !important;
    position: fixed;
    top: 0;
    width: 200px;
    z-index: 3;
}
/* -------- END DEALSECTIONCONTAINER -------- */
/* -------- DEALSWITCHVIEWCOMPONENT -------- */
.deal-sections .switch-view{
    color: rgba(29, 29, 29, 0.65);
    cursor: pointer;
    float: left;
    padding: 5px 10px 10px;
    text-align: center;
    width: 100%;
}

.deal-sections .switch-view small{
    display: inline-block;
    font-size: 12px;
    line-height: normal;
    padding-top: 8px;
    vertical-align: middle;
}

.deal-sections .switch-view span{
    display: inline-block;
    font-size: 20px;
    line-height: normal;
    margin-left: 10px;
    vertical-align: middle;
}
/* -------- END DEALSWITCHVIEWCOMPONENT -------- */
/* -------- DEALTABSCOMPONENT -------- */
.deal-sections .sidebar-list{
    float: left;
    margin: 0px;
    padding: 8px 10px;
    width: 100%;
}
/* -------- END DEALTABSCOMPONENT -------- */
/* -------- RIGHTSIDEBARCOMPONENT -------- */
.sidebar-content {
    display: block;
    z-index: 4;
}

.sidebar-content .mask, .sidebar-content.product .mask{
    background: rgba(0, 0, 0, 0.5);
    display: none;
    float: left;
    left: 0;
    min-height: 100%;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 4;
}

.sidebar-content.visible .mask{
    display: block;
}

.sidebar-content > div.right {
    background: #ffffff;
    min-height: 100%;
    padding-top: 140px;
    position: fixed;
    right: -500px;
    top: 0;
    width: 500px;
    z-index: 4;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-transition: -webkit-transform ease 250ms;
    -moz-transition: -webkit-transform ease 250ms;
    -ms-transition: -webkit-transform ease 250ms;
    -o-transition: -webkit-transform ease 250ms;
    transition: -webkit-transform ease 250ms;
    -webkit-transition: transform ease 250ms;
    -moz-transition: transform ease 250ms;
    -ms-transition: transform ease 250ms;
    -o-transition: transform ease 250ms;
    transition: transform ease 250ms;
}

.sidebar-content.visible > .right {
    transform: translate3d(-500px, 0, 0);
    -ms-transform: translate3d(-500px, 0, 0);
    -webkit-transform: translate3d(-500px, 0, 0);
    -o-transform: translate3d(-500px, 0, 0);
    -moz-transform: translate3d(-500px, 0, 0);
}

.sidebar-content.product > div.right {
    right: -800px;
    width: 800px;
}

.sidebar-content.visible.product > .right {
    transform: translate3d(-800px, 0, 0);
    -ms-transform: translate3d(-800px, 0, 0);
    -webkit-transform: translate3d(-800px, 0, 0);
    -o-transform: translate3d(-800px, 0, 0);
    -moz-transform: translate3d(-800px, 0, 0);
}

/*.sidebar-content h3 span{
    cursor: pointer;
    float: left;
    margin-right: 10px;
}*/

.sidebar-content form .row{
    margin-bottom: 15px;
}

.sidebar-content form label{
    margin-bottom: 5px;
    width: 100%;
}

.sidebar-content .load-more{
    cursor: pointer;
    float: left;
    margin-bottom: 15px;
    text-decoration: none;
    width: 100%;
}

.sidebar-content .fixedButtons{
    bottom: 10px;
    right: 0;
    position: fixed;
    width: 500px;
    z-index: 5;
}

.sidebar-content.product .fixedButtons{   
    width: 800px;
}

.sidebar-content .scroll{
    max-height: calc(100% - 260px);
    overflow-x: hidden;
    overflow-y: auto;
    position: absolute;
    width: 460px;
}

.sidebar-content.product .scroll{
    margin-left: -10px;
    padding: 10px;
    width: 800px;
}
/* -------- END RIGHTSIDEBARCOMPONENT -------- */
/* -------- TREECOMPONENT -------- */
.sidebar-content .panel button{
    color: #1d769f;
    cursor: pointer;
    float: right;
}
.sidebar-content .panel.child{
    margin-left: 30px;
}
/* -------- END TREECOMPONENT -------- */
/* -------- DEALHEADERINFORMATIONCOMPONENT -------- */
.dealInformationForm small{
    float: left;
    margin-top: 24px;
}

.dealInformationForm textarea{
    height: 120px;
}
/* -------- END DEALHEADERINFORMATIONCOMPONENT -------- */
/* -------- ADDPRODUCTCOMPONENT -------- */
.steps{
    padding: 10px;
}

.steps h4{
    font-size: 14px;
    min-height: 20px;
}

.steps h4 .label{
    float: left;
    margin-right: 10px;
}

.steps h4 b{
    float: left;
    margin-right: 10px;
}

.steps h4 button{
    margin-top: -6px;
}

.row-eq-height{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; 
}

.steps .content-pane{
    position: relative;
}

.steps .empty-list{
    color: #999;
    font-size: 14px;
    left: 50%;
    margin-left: -180px;
    margin-top: -16px;
    position: absolute;
    text-align: center;
    top: 50%;
    width: 360px;
}

.steps .content-block{
    padding: 10px;
}

.steps .products-list{
    float: left;
    margin-bottom: 10px;
    max-height: 390px;
    overflow-y: auto; 
    width: 100%;
}

.steps .products-list .panel a{    
    display: none;
    float: right;
}

.steps .step2{
    margin: 10px 0px;
}

.sidebar-content .step2 .panel a{
    display: none;
}

.steps .form-group .form-group{
    margin-bottom: 0px;
}

.steps .step2 input[type="checkbox"]{
    margin-top: 22px;
}

.steps .step2 .checkbox-inline{
    position: relative;
}

.steps .step2 .box-label i{
    color: #999999;
    margin-left: 20px;
}
/* -------- END ADDPRODUCTCOMPONENT -------- */
/* -------- NEWPRODUCTCOMPONENT -------- */
.new-products-list{
    margin-bottom: 10px;
}

.new-products-list .panel{
    margin-bottom: 5px;
}

.new-products-list .panel-body{
    padding: 10px;
}

.new-products-list .panel a{
    color:#1d769f;
    display: none;
    float: right;
    padding: 0px;
}

.new-products-list .panel:hover a{
    display: block;
}

.new-products-list .panel ul{
    float: left;
    list-style: none;
    margin: 5px 0px 0px;
    padding: 0px;
    width: 100%;
}

.new-products-list .panel ul li{
    color: #999999;
    float: left;  
    text-align: left;      
    width: 40%;
}

.new-products-list .panel ul li:last-child{
    color: #d43f3a;
    cursor: pointer;
    display: none;
    text-align: right;
    width: 20%;
}

.new-products-list .panel:hover ul li:last-child{
    display: block;
}
/* -------- END NEWPRODUCTCOMPONENT -------- */
/* -------- ADDCOUNTERPARTYSTEP1COMPONENT -------- */
.counterparties{
    min-height: 300px;
}

.counterparties .list{
    float: left;
    list-style: none;
    margin: 0px 0px 10px;
    padding: 0px;
    width: 100%;
}

.counterparties .list li{
    float: left;    
    margin: 5px 0px 10px;
    width: 100%;
}

.counterparties .list li button{
    color:#1d769f;
    float: right;
    padding: 0px;
}
/* -------- END ADDCOUNTERPARTYSTEP1COMPONENT -------- */
/* -------- NOTFOUNDCOMPONENT -------- */
.not-found{
    color: #999999;
    margin-top: 15px;
}

.not-found p:first-child{
    color: #333333;
}
/* -------- END NOTFOUNDCOMPONENT -------- */
/* -------- COUNTERPARTYDETAILCOMPONENT -------- */
.expanded{
    max-height: 400px;
    overflow-x: hidden;
    overflow-y: auto;
}

.counterparty-detail{
    margin-bottom: 15px;
    max-height: 180px;
    overflow: hidden;
}

.expanded .counterparty-detail{
    max-height: none;
}

.counterparty-detail b{
    float: left;
    width: 100%;
}

.counterparty-detail h3{
    float: left;
    margin: 5px 0px;
    padding: 0px 10px;
    width: 100%;
}

.counterparty-detail h3 small{
    font-weight: 600;    
}

.counterparty-role .tab-content{
    margin-top: 10px;
}

.counterparty-role .tab-content .btn-group{
    width: 100%;
}
/* -------- END COUNTERPARTYDETAILCOMPONENT -------- */
/* -------- COUNTERPARTYSELECTEDCOMPONENT -------- */
.counterparty-list{
    max-height: 490px;
    overflow-x: hidden;
    overflow-y: auto;
}
/* -------- END COUNTERPARTYSELECTEDCOMPONENT -------- */
/* -------- ADDCOUNTERPARTYSTEP2COMPONENT -------- */
.steps .step2 .counterparty-list input[type="checkbox"] {
    margin-top: -4px;
    position: absolute;
    top: 50%;
}

.sidebar-content .step2 .counterparty-list .form-group .form-group {
    margin-top: -10px;
    padding-left: 20px;
}

.sidebar-content .step2 .counterparty-list .panel button {
    float: left;
    display: block;
}
/* -------- END ADDCOUNTERPARTYSTEP2COMPONENT -------- */
/* -------- COUNTERPARTYITEMCOMPONENT -------- */
.counterparty-panel{
    float: left;
    margin: 5px 0px;
    width: 100%;
}

.counterparty-panel p{
    margin-bottom: 3px;
    text-transform: uppercase;
}

.counterparty-panel .panel{
    margin-bottom: 5px;
}

.counterparty-panel .panel-body{
    padding: 10px;
}

.counterparty-panel .panel ul {
    float: left;
    list-style: none;
    margin: 10px 0px 0px;
    padding: 0px;
    width: 100%; 
}

.counterparty-panel .panel ul li{
    color: #999999;
    float: left;
    padding-right: 20px;
    text-align: left;
    width: auto; 
}

.counterparty-panel .panel li .btn-group {
    margin: -6px 0px -3px;
}

.counterparty-panel .panel li:last-child {
    color: #d43f3a;
    cursor: pointer;
    display: none;
    float: right;
    padding-right: 0px;
    text-align: right;
    width: auto;
}

.counterparty-panel .panel:hover li:last-child {
    display: block;
}

.counterparty-panel .category {
    margin-bottom: 0px;
    padding-left: 20px;
}

.counterparty-panel .panel.empty{
    background: #F2F2F2;
    border-color: #e2e2e2;
    color: #999999;
    text-align: center;
}

.counterparty-panel .panel li .btn{
    color: #1d1d1d;
    float: left;
}

.counterparty-panel .panel li .btn-success{
    color: #ffffff;
}
/* -------- END COUNTERPARTYITEMCOMPONENT -------- */
/* -------- SIDEBARHEADERCOMPONENT -------- */
.sidebar-header a{
    color: #1d1d1d;
    float: left;
    margin-right: 10px;
    margin-top: -1px;
}
/* -------- END SIDEBARHEADERCOMPONENT -------- */
/* -------- AGGRIDREACT -------- */
.ag-cell, .ag-header-cell{
    border-right: 1px solid #d1d9de;
    outline: none;
    padding: 5px 10px;
    white-space: initial;
}

.ag-cell small{
    float: left;
    font-style: italic;
    margin-top: 6px;
}

.ag-cell .text-center{
    float: left;
    width: 100%;
}

.ag-header-container .ag-header-row .ag-header-cell, 
.ag-pinned-left-header .ag-header-row .ag-header-cell{
    border-bottom: 1px solid #d1d9de;
    font-size: 16px;
    font-weight: 600;
    padding: 11px 10px 0px;
    text-align: left;
}

.ag-header-container .ag-header-row .ag-header-cell .glyphicon, 
.ag-pinned-left-header .ag-header-row .ag-header-cell .glyphicon{
    cursor: pointer;
    float: right;
}

.ag-pinned-left-header .ag-header-row .ag-header-cell:first-child .glyphicon,
.ag-pinned-left-header #pin,
.ag-header-container #unpin{
    display: none;
}

/*.ag-pinned-left-header .ag-header-row .ag-header-cell:nth-child(even),
.ag-pinned-left-cols-container .ag-row .ag-cell:nth-child(even),
.ag-header-container .ag-header-row .ag-header-cell:nth-child(odd),
.ag-body-container .ag-row .ag-cell:nth-child(odd){
    background: #f1f5f8;
    border-right: 1px solid #d1d9de;
}

.ag-pinned-left-header .ag-header-row .ag-header-cell:nth-child(odd),
.ag-pinned-left-cols-container .ag-row .ag-cell:nth-child(odd),
.ag-header-container .ag-header-row .ag-header-cell:nth-child(even),
.ag-body-container .ag-row .ag-cell:nth-child(even){
    background: #fff;
    border-right: 1px solid #d1d9de;
}*/

.main-deal{
    background: #e4e9ed !important;
}

.rag-title{
    border-bottom: 1px solid #d1d9de;
}

.rag-element{
    float: left;
    font-size: 12px;
    font-weight: 600;
    padding: 6px 0px 0px 0px;
    text-align: right;
    width: 100%;
}

.rag-title .rag-element{
    font-size: 14px;
    padding-top: 32px;
}

.ag-fresh .ag-cell, .ag-fresh .ag-cell-focus{
    border: none;
}

.add-column {
    position: fixed;
    right: 10px;
    top: 100px;
    z-index: 9999;
}

.radio-group, .radio-group .radio{
    float: left;
    width: 100%;
}

.radio-group .radio{
    margin: 5px 0px 15px;
}

.radio-group .radio label{
    float: left;
    position: relative;
    width: 100%;
}

.radio-group .radio .text{
    float: left;
    margin-right: 3px;
    margin-top: 5px;
}

.radio-group .radio input[type=radio]{
    left: 0;
    margin-left: 0px;
    margin-top: -7px;
    top: 50%;
}

.radio-group .radio input[type=text]{
    display: inherit;
    float: left;
    margin-right: 3px;
    width: 60px;
}

.radio-group .input-group{
    display: inherit;
}

.radio-group .radio .input-group input{
    width: 120px;
}

.radio-group .input-group .input-group-addon{
    float: left;
    margin-left: -3px;
    width: 35px;
}

.ag-cell .readOnly{
    margin-top: 5px;
}

.ag-cell hr{
    margin-left: -10px;
    margin-right: -10px;
}

.ag-cell p{
    margin-top: 10px;
}
/* -------- END AGGRIDREACT -------- */
/* -------- ALLOWEDCURRENCIESCOMPONENT -------- */
.allowed-currencies{
    float: left;
    width: 100%;
}

.allowed-currencies .panel{
    margin-bottom: 5px;
}

.allowed-currencies .panel-body{
    padding: 10px;
}

.allowed-currencies .panel .remove{
    color: #d43f3a;
    display: none;
    float: right;
    padding: 0px;
}

.allowed-currencies .panel:hover .remove{
    display: block;
}
/* -------- END ALLOWEDCURRENCIESCOMPONENT -------- */
/* -------- AMOUNTTEXTCOMPONENT -------- */
.amount-text{
    float: left;
    width: 100%;
}

.amount-text input[type=text]{
    float: left;
    width: 45%;
}

.amount-text b{    
    float: left;
    margin-left: 5px;
    margin-top: 7px;
}

.amount-text span{    
    float: right;
    font-weight: 600;
    margin-top: 7px;
}
/* -------- END AMOUNTTEXTCOMPONENT -------- */
/* -------- AMORTISATIONDATECOMPONENT -------- */
.amortisation-date{
    float: left;
    width: 100%;
}

.amortisation-date .input-group{
    float: left;
    width: 45%;
}

.amortisation-date .checkbox{
    float: left;
    margin-left: 20px;
    margin-top: 7px;
}

.amortisation-date .checkbox input{
    left: 0px;
    margin: 0px;
}

.amortisation-date i{
    color: #999;
    float: left;
    margin-top: 5px;
    width: 100%;
}
/* -------- END AMORTISATIONDATECOMPONENT -------- */
/* -------- ADDCURRENCIESCOMPONENT -------- */
.currencies-list{
    background: #ffffff;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border: 1px solid #a6a9ac;
    max-height: 170px;
    overflow-y: auto;
    padding: 5px 10px;
}

.currencies-list .checkbox{
    margin: 5px;
}

.currencies-list .checkbox span,
.selected-currencies .panel span {
    color: #999;
}

.currencies-list input[type="checkbox"]{
    left: 0px;
    margin: 0px;
}

.currencies-list hr{
    margin: 10px 30px;
}

.selected-currencies {
    float: left;
    margin-bottom: 10px;
    max-height: 350px;
    overflow-y: auto; 
    width: 100%;
}

.selected-currencies .checkbox  label{
    position: relative;
}

.selected-currencies .checkbox  input[type=checkbox]{
    left: 0px;
    margin: -8px 0px 0px;
    top: 50%;
}
/* -------- END ADDCURRENCIESCOMPONENT -------- */
/* -------- BOOKINGCOMPONENT -------- */
.booking-component{
    float: left;
    width: 100%;
}

.booking-component .panel{
    margin-bottom: 5px; 
}

.booking-component .panel-body {
    padding: 10px;
}

.booking-component .panel-body .title{
    float: left;
    margin-bottom: 5px;
    width: 100%;
}

.booking-component .panel-body button{
    display: none;
    float: right;
    padding: 0px;
}

.booking-component .panel-body:hover button{
    display: block;
}

.booking-component .panel-body .btn-details{
    color: #1d769f;
}

.sidebar-content .booking-component .panel-body .btn-details{
    display: none;
}

.booking-component .panel-body .btn-remove{
    color: #d43f3a;
}

.booking-component .panel-body .region{
    color: #999;
    float: left;
    margin-right: 10px;
}

.booking-component .panel-body ul{
    float: left;
    list-style: none;
    margin: 0px;
    padding: 0px;
}

.booking-component .panel-body ul li{
    color: #999;
    float: left;
    margin-right: 5px;
}

.booking-component .panel-body ul li span{
    color: #1d769f;
}
/* -------- END BOOKINGCOMPONENT -------- */
/* -------- ADDBOOKINGCOMPONENT -------- */
.booking-entities-list{
    float: left;
    list-style: none;
    margin: 10px 0px;
    padding: 0px;
    width: 100%;
}

.booking-entities-list li{
    float: left;
    margin-bottom: 15px;
    width: 100%;
}

.booking-entities-list li span{
    color: #999;
    float: right;
    margin-right: 10px;
}

.booking-entities-list li span.glyphicon{
    color: #1d769f;
    cursor: pointer;
}

.booking-detail{
    float: left;
    width: 100%;
}

.steps .booking-detail{
    max-height: 430px;
    overflow-x: hidden;
    overflow-y: auto;
}

.booking-detail hr{
    float: left;
    margin: 0px 0px 15px;
    width: 100%;
}

.booking-detail .system-list{
    background: #ffffff;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border: 1px solid #a6a9ac;
    max-height: 100px;
    overflow-y: auto;
    padding: 5px 10px;
}

.booking-detail .system-list .checkbox{
    margin: 5px 0px;
}

.booking-detail .system-list input[type="checkbox"]{
    left: 0px;
    margin: 1px 0px 0px;
}

.booking-detail .id-field{
    float: left;
    margin-right: 10px;
    width: 50%;
}

.booking-detail .panel-list{
    margin: 10px 0px;
}
/* -------- END ADDBOOKINGCOMPONENT -------- */
/* -------- KEYVALUECOMPONENT -------- */
.key-value label, .key-value b{
    float: left;
    width: 100%;
}
/* -------- END KEYVALUECOMPONENT -------- */
/* -------- INVESTORITEMCOMPONENT -------- */
.investor-panel {
    text-align: center;
}

.investor-panel button {
    margin-top: 10px;
}

.investor-panel .panel {
    margin: 5px 0px;
}

.investor-panel .panel-body {
    padding: 10px 20px;
    padding-bottom: 5px;
    margin: 0px;
}

.investor-panel .panel-body button {
    margin-top: 0px;
}

.investor-panel .row {
    margin-bottom: 5px;
    padding: 0px;
}

.investor-panel .col {
    margin: 0px;
    padding: 0px;
    padding-right: 10px;
    float: left;
}

.investor-panel .btns {
    margin: 0px;
    padding: 0px;
    float: right;
}

.investor-panel .info {
    color: #999999;
    float: left;
    margin: 0px;
    padding: 0px;
    padding-right: 20px;
}

.investor-panel .panel-body a {
    text-decoration: unset;
}

.investor-panel .panel-body button {
    padding: 0px;
    display: none;
}

.investor-panel .panel-body:hover button {
    display: block;
}

.investor-panel .panel-body .btn-details{
    color: #1d769f;
}

.investor-panel .panel-body .btn-remove{
    color: #d43f3a;
}
/* -------- END INVESTORITEMCOMPONENT -------- */
/* -------- EXCLUDEDINVESTORDETAILSCOMPONENT -------- */
.excludedinvestordetails a {
    text-decoration: unset;
    text-align: center;
}

.excludedinvestordetails .remove {
    color: #d43f3a;
    margin-top: 30px;
}

.excludedinvestordetails .close-sidebar {
    color: #1d769f;
    margin-top: 70px;
}
/* -------- END EXCLUDEDINVESTORDETAILSCOMPONENT -------- */
/* -------- INVESTORDETAILCOMPONENT -------- */
.investordetail {
    margin-bottom: 15px;
    overflow: hidden;
}

.investordetail > div {
    padding: 0px;
}

.investordetail b{
    float: left;
    width: 100%;
}

.investordetail h3{
    float: left;
    margin: 5px 0px;
    padding: 0px;
    width: 100%;
}

.investordetail h3 small{
    font-weight: 600;    
}
/* -------- END INVESTORDETAILCOMPONENT -------- */
