/* -------- COMMOM -------- */
html, body{
    margin: 0;
    padding: 0;		   
    min-height:100%;
}

.flex-container {
    box-sizing: border-box;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-flow:row;
    min-height:100%;
    position:absolute;
    padding: 140px 0px 0px 200px !important;
    top: 0;
    width:100%;
}

.box {
    flex:1;
    -webkit-flex:1;
    min-width:400px;
    max-width:400px;
}

.deal-header{
    padding-top: 40px;
}

.deal-header .page-header-block{
    padding: 0px;
}

.deal-header h1{
    float: left;
    font-size: 30px;
    font-weight: 600;
    margin: 5px 0px;
}

.deal-header h1 span{
    color: #888888;
    cursor: pointer;
    float: left;
    font-size: 25px;
    margin-top: 2px;
    margin-right: 5px;
}

.deal-header .nav{
    float: left;
    width: 100%;
}

.navbar-fixed-top + .deal-content{
    padding-top: 60px;
}

.deal-content .top-toolbar, .deal-content .content-block{
    padding: 10px;
}

.deal-content .top-toolbar h3{
    margin: 0px;
    padding: 0px;
}

.deal-content .top-toolbar h3 span{
    cursor: pointer;
    float: right;
    font-size: 16px;
}

.deal-content .content-block .row{
    margin-bottom: 15px;
}

.deal-content .content-block label{
    padding-bottom: 3px;
    width: 100%;
}

.deal-content .content-block .row small{
    color: rgba(29, 29, 29, 0.65);
    float: left;
    font-style: italic;
    margin-right: 10px;
    margin-top: 24px;
}

.deal-content .edit-field button{
    display: none;
    float: left;
    margin-top: 17px;
}

.deal-content .edit-field .btn-group button{
    display: block;
    margin-top: 0px;    
}

.deal-content .answer{
    float: left;
    font-weight: 600;
    padding: 9px 0px 3px;
}

.deal-content .edit-field:hover button{
    display: block;
}

.text-center{
    text-align: center;
}

.text-center button{
    margin-left: 5px;
}

.deal-content .alert{
    left: 0;
    position: fixed;
    text-align: center;
    top: 140px;
    width: 100%;
    z-index: 3;
    opacity:1;
    transition: opacity 3s;     
}

.deal-content .alert.fade {
    opacity:0;
}

.deal-content .alert-success{
    background: rgba(169,202,104,0.95);    
}

.deal-content .new-sub-limit{
    left: 600px;
    transform: translateY(-50%);
    position: fixed;
    top: 50%;
}

.deal-content .new-sub-limit.extra-space{
    left: 1000px;    
}

.no-padding{
    margin-left: -10px;
    margin-right: -10px;
}
/* -------- END COMMOM -------- */
/* -------- AUTOSAVECOMPONENT -------- */
.deal-header .autosave{
    color: rgba(29, 29, 29, 0.65);
    float: right;
    margin-top: 7px;
}

.deal-header .autosave small{    
    float: right;
    margin-right: 3px;
    margin-top: 4px;
    text-align: right;
}

.deal-header .autosave span{
    color: rgba(0, 0, 0, 0.4);
    float: right;
    font-size: 20px;
}

.deal-header .autosave button, .deal-header .autosave a{
    float: right;
    margin-left: 10px;
    margin-top: 2px;
}
/* -------- END AUTOSAVECOMPONENT -------- */
/* -------- DEALDETAILSCOMPONENT  -------- */
.deal-header .deal-details{
    float: left;     
    list-style: none;
    margin: 8px 0px 0px 10px;    
    padding: 0px;
}

.deal-header .deal-details li{
    border-left: 1px solid rgba(0, 0, 0, 0.12);
    color: rgba(29, 29, 29, 0.65);
    float: left;
    font-style: italic;
    height: 29px;
    line-height: 29px;
    padding: 0px 10px;
    text-align: center;
    width: 120px;
}

.deal-header .deal-details li.edit{
    font-style: normal;
    width: 320px;
}

.deal-header .deal-details li.edit span{
    text-align: left;
}

.deal-header .deal-details li.edit:first-child{
    color: #000000;
    font-weight: 600;
    width: 160px;
}

.deal-header .deal-details li.edit:last-child{
    color: #1d769f;
    width: 120px;
}

.deal-header .deal-details li span{
    display: inline-block;
    line-height: normal;
    vertical-align: middle;
}

.deal-header .deal-details li a{
    color: #1d769f;
    cursor: pointer;
    display: none;
    line-height: normal;
    text-decoration: none;
    vertical-align: middle;
}

.deal-header .deal-details li:hover span{
    display: none;
}

.deal-header .deal-details li:hover a{
    display: inline-block;
}

.deal-header .deal-details li.edit a{
    font-weight: normal;
}
/* -------- END DEALDETAILSCOMPONENT -------- */
/* -------- DEALSECTIONCONTAINER -------- */
.deal-sections{
    height: 100%;
    padding-top: 140px !important;
    position: fixed;
    top: 0;
    width: 200px;
    z-index: 3;
}
/* -------- END DEALSECTIONCONTAINER -------- */
/* -------- DEALSWITCHVIEWCOMPONENT -------- */
.deal-sections .switch-view{
    color: rgba(29, 29, 29, 0.65);
    cursor: pointer;
    float: left;
    padding: 5px 10px 10px;
    text-align: center;
    width: 100%;
}

.deal-sections .switch-view small{
    display: inline-block;
    font-size: 12px;
    line-height: normal;
    padding-top: 8px;
    vertical-align: middle;
}

.deal-sections .switch-view span{
    display: inline-block;
    font-size: 20px;
    line-height: normal;
    margin-left: 10px;
    vertical-align: middle;
}
/* -------- END DEALSWITCHVIEWCOMPONENT -------- */
/* -------- DEALTABSCOMPONENT -------- */
.deal-sections .sidebar-list{
    float: left;
    margin: 0px;
    padding: 8px 10px;
    width: 100%;
}
/* -------- END DEALTABSCOMPONENT -------- */
/* -------- RIGHTSIDEBARCOMPONENT -------- */
.sidebar-content {
    display: block;
    z-index: 4;
}

.sidebar-content .mask, .sidebar-content.product .mask{
    background: rgba(0, 0, 0, 0.5);
    display: none;
    float: left;
    left: 0;
    min-height: 100%;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 4;
}

.sidebar-content.visible .mask{
    display: block;
}

.sidebar-content > div.right {
    background: #ffffff;
    min-height: 100%;
    padding-top: 140px;
    position: fixed;
    right: -500px;
    top: 0;
    width: 500px;
    z-index: 4;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-transition: -webkit-transform ease 250ms;
    -moz-transition: -webkit-transform ease 250ms;
    -ms-transition: -webkit-transform ease 250ms;
    -o-transition: -webkit-transform ease 250ms;
    transition: -webkit-transform ease 250ms;
    -webkit-transition: transform ease 250ms;
    -moz-transition: transform ease 250ms;
    -ms-transition: transform ease 250ms;
    -o-transition: transform ease 250ms;
    transition: transform ease 250ms;
}

.sidebar-content.visible > .right {
    transform: translate3d(-500px, 0, 0);
    -ms-transform: translate3d(-500px, 0, 0);
    -webkit-transform: translate3d(-500px, 0, 0);
    -o-transform: translate3d(-500px, 0, 0);
    -moz-transform: translate3d(-500px, 0, 0);
}

.sidebar-content.product > div.right {
    right: -800px;
    width: 800px;
}

.sidebar-content.visible.product > .right {
    transform: translate3d(-800px, 0, 0);
    -ms-transform: translate3d(-800px, 0, 0);
    -webkit-transform: translate3d(-800px, 0, 0);
    -o-transform: translate3d(-800px, 0, 0);
    -moz-transform: translate3d(-800px, 0, 0);
}

/*.sidebar-content h3 span{
    cursor: pointer;
    float: left;
    margin-right: 10px;
}*/

.sidebar-content form .row{
    margin-bottom: 15px;
}

.sidebar-content form label{
    margin-bottom: 5px;
    width: 100%;
}

.sidebar-content .load-more{
    cursor: pointer;
    float: left;
    margin-bottom: 15px;
    text-decoration: none;
    width: 100%;
}

.sidebar-content .fixedButtons{
    bottom: 10px;
    right: 0;
    position: fixed;
    width: 500px;
    z-index: 5;
}

.sidebar-content.product .fixedButtons{   
    width: 800px;
}

.sidebar-content .scroll{
    max-height: calc(100% - 260px);
    overflow-x: hidden;
    overflow-y: auto;
    position: absolute;
    width: 460px;
}

.sidebar-content.product .scroll{
    margin-left: -10px;
    padding: 10px;
    width: 800px;
}
/* -------- END RIGHTSIDEBARCOMPONENT -------- */
/* -------- TREECOMPONENT -------- */
.sidebar-content .panel button{
    color: #1d769f;
    cursor: pointer;
    float: right;
}
.sidebar-content .panel.child{
    margin-left: 30px;
}
/* -------- END TREECOMPONENT -------- */
/* -------- DEALHEADERINFORMATIONCOMPONENT -------- */
.dealInformationForm small{
    float: left;
    margin-top: 24px;
}

.dealInformationForm textarea{
    height: 120px;
}
/* -------- END DEALHEADERINFORMATIONCOMPONENT -------- */
/* -------- ADDPRODUCTCOMPONENT -------- */
.steps{
    padding: 10px;
}

.steps h4{
    font-size: 14px;
    min-height: 20px;
}

.steps h4 .label{
    float: left;
    margin-right: 10px;
}

.steps h4 b{
    float: left;
    margin-right: 10px;
}

.steps h4 button{
    margin-top: -6px;
}

.row-eq-height{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; 
}

.steps .content-pane{
    position: relative;
}

.steps .empty-list{
    color: #999;
    font-size: 14px;
    left: 50%;
    margin-left: -180px;
    margin-top: -16px;
    position: absolute;
    text-align: center;
    top: 50%;
    width: 360px;
}

.steps .content-block{
    padding: 10px;
}

.steps .panel{
    margin-bottom: 5px;
}

.steps .panel-body{
    padding: 10px;
}

.steps .panel ul{
    float: left;
    list-style: none;
    margin: 5px 0px 0px;
    padding: 0px;
    width: 100%;
}

.steps .panel ul li{
    color: #999999;
    float: left;  
    text-align: left;      
    width: 40%;
}

.steps .panel ul li:last-child{
    color: #d43f3a;
    cursor: pointer;
    display: none;
    text-align: right;
    width: 20%;
}

.steps .panel:hover ul li:last-child{
    display: block;
}

.steps .products-list{
    float: left;
    margin-bottom: 10px;
    max-height: 390px;
    overflow-y: auto; 
    width: 100%;
}

.steps .products-list .panel a{    
    display: none;
    float: right;
}

.steps .step2{
    margin: 10px 0px;
}

.sidebar-content .step2 .panel a{
    display: none;
}

.steps .form-group .form-group{
    margin-bottom: 0px;
}

.steps .step2 input[type="checkbox"]{
    margin-top: 22px;
}

.steps .selected-products{
    margin-bottom: -15px;
    max-height: 300px;
    overflow-y: auto;
}

.steps .step2 .checkbox-inline{
    position: relative;
}

.steps .step2 .box-label i{
    color: #999999;
    margin-left: 20px;
}
/* -------- END ADDPRODUCTCOMPONENT -------- */
/* -------- NEWPRODUCTCOMPONENT -------- */
.new-products-list{
    margin-bottom: 10px;
}

.new-products-list .panel{
    margin-bottom: 5px;
}

.new-products-list .panel-body{
    padding: 10px;
}

.new-products-list .panel a{
    color:#1d769f;
    display: none;
    float: right;
    padding: 0px;
}

.new-products-list .panel:hover a{
    display: block;
}

.new-products-list .panel ul{
    float: left;
    list-style: none;
    margin: 5px 0px 0px;
    padding: 0px;
    width: 100%;
}

.new-products-list .panel ul li{
    color: #999999;
    float: left;  
    text-align: left;      
    width: 40%;
}

.new-products-list .panel ul li:last-child{
    color: #d43f3a;
    cursor: pointer;
    display: none;
    text-align: right;
    width: 20%;
}

.new-products-list .panel:hover ul li:last-child{
    display: block;
}
/* -------- END NEWPRODUCTCOMPONENT -------- */
/* -------- ADDCOUNTERPARTYSTEP1COMPONENT -------- */
.counterparties{
    min-height: 300px;
}

.counterparties .list{
    float: left;
    list-style: none;
    margin: 0px 0px 10px;
    padding: 0px;
    width: 100%;
}

.counterparties .list li{
    float: left;    
    margin: 5px 0px 10px;
    width: 100%;
}

.counterparties .list li button{
    color:#1d769f;
    float: right;
    padding: 0px;
}
/* -------- END ADDCOUNTERPARTYSTEP1COMPONENT -------- */
/* -------- NOTFOUNDCOMPONENT -------- */
.not-found{
    color: #999999;
    margin-top: 15px;
}

.not-found p:first-child{
    color: #333333;
}
/* -------- END NOTFOUNDCOMPONENT -------- */
/* -------- COUNTERPARTYDETAILCOMPONENT -------- */
.expanded{
    max-height: 400px;
    overflow-x: hidden;
    overflow-y: auto;
}

.counterparty-detail{
    margin-bottom: 15px;
    max-height: 180px;
    overflow: hidden;
}

.expanded .counterparty-detail{
    max-height: none;
}

.counterparty-detail b{
    float: left;
    width: 100%;
}

.counterparty-detail h3{
    float: left;
    margin: 5px 0px;
    padding: 0px 10px;
    width: 100%;
}

.counterparty-detail h3 small{
    font-weight: 600;    
}

.counterparty-role .tab-content{
    margin-top: 10px;
}

.counterparty-role .tab-content .btn-group{
    width: 100%;
}
/* -------- END COUNTERPARTYDETAILCOMPONENT -------- */
/* -------- COUNTERPARTYSELECTEDCOMPONENT -------- */
.counterparty-list{
    max-height: 490px;
    overflow-x: hidden;
    overflow-y: auto;
}
/* -------- END COUNTERPARTYSELECTEDCOMPONENT -------- */
/* -------- ADDCOUNTERPARTYSTEP2COMPONENT -------- */
.steps .step2 .counterparty-list input[type="checkbox"] {
    margin-top: -4px;
    position: absolute;
    top: 50%;
}

.sidebar-content .step2 .counterparty-list .form-group .form-group {
    margin-top: -10px;
    padding-left: 20px;
}

.sidebar-content .step2 .counterparty-list .panel button {
    float: left;
    display: block;
}
/* -------- END ADDCOUNTERPARTYSTEP2COMPONENT -------- */
/* -------- COUNTERPARTYITEMCOMPONENT -------- */
.counterparty-panel{
    float: left;
    margin: 5px 0px;
    width: 100%;
}

.counterparty-panel p{
    margin-bottom: 3px;
    text-transform: uppercase;
}

.counterparty-panel .panel{
    margin-bottom: 5px;
}

.counterparty-panel .panel-body{
    padding: 10px;
}

.counterparty-panel .panel ul {
    float: left;
    list-style: none;
    margin: 10px 0px 0px;
    padding: 0px;
    width: 100%; 
}

.counterparty-panel .panel ul li{
    color: #999999;
    float: left;
    padding-right: 20px;
    text-align: left;
    width: auto; 
}

.counterparty-panel .panel li .btn-group {
    margin: -6px 0px -3px;
}

.counterparty-panel .panel li:last-child {
    color: #d43f3a;
    cursor: pointer;
    display: none;
    float: right;
    padding-right: 0px;
    text-align: right;
    width: auto;
}

.counterparty-panel .panel:hover li:last-child {
    display: block;
}

.counterparty-panel .category {
    margin-bottom: 0px;
    padding-left: 20px;
}

.counterparty-panel .panel.empty{
    background: #F2F2F2;
    border-color: #e2e2e2;
    color: #999999;
    text-align: center;
}

.counterparty-panel .panel li .btn{
    color: #1d1d1d;
    float: left;
}

.counterparty-panel .panel li .btn-success{
    color: #ffffff;
}
/* -------- END COUNTERPARTYITEMCOMPONENT -------- */
/* -------- SIDEBARHEADERCOMPONENT -------- */
.sidebar-header a{
    color: #1d1d1d;
    float: left;
    margin-right: 10px;
    margin-top: -1px;
}
/* -------- END SIDEBARHEADERCOMPONENT -------- */