.page-actions{
    background: #ffffff;
    height: 44px;
    margin-right: -20px;
}

.page-actions .autosave{
    color: #B7BFC7;
    float: left;
    width: 45%;
}

.page-actions .autosave small{
    float: left;
    margin-top: 11px;
    width: 100%;
}

.page-actions .buttons{
    float: left;
    margin-top: 14px;
    text-align: center;
    width: 55%;
}

.page-actions .buttons a{
    color: #B7BFC7;
    float: left;
    margin: 0 10px;
}

.page-actions .buttons .delete{
    color: #bd0f0f;
    float: right;
}

.page-actions .btn{
    font-size: 14px;
    margin-top: 6px;
    padding: 6px 12px;
    width: 100%;
}