.page-header-box{
    margin-top: 5px;
}

.page-header-box .page-header{
    border: 0px;
    box-shadow: none;
    margin-top: 20px;
}

.page-header-box h1{
    font-size: 31px;
    font-weight: bold;
    margin: 0px;
}

.page-header-box .btn-primary{
    font-size: 15px;
    margin-left: 4%;
    margin-top: 10px;
    padding: 10px 16px;
    width: 48%;
}

.page-header-box .btn-primary.no-margin-left{
    margin-left: 0px;
}

.page-header-box .page-actions {
    background: none;
    height: auto;
    margin-right: -10px;
}

.page-header-box .autosave{
    margin-bottom: 0px;
    margin-top: 15px;
    text-align: right;
    width: 100%;
}

.page-header-box .autosave .list-group-item{
    border: none;
    color: #B3B3B3;
    font-size: 10px;
    margin: 0px;
    padding: 2px 0px 0px;
}

.page-header-box .autosave .btn{
    background: none;
    border: none;
    box-shadow: none;
    color: #B3B3B3;
    font-size: 13px;
    margin-left: 10px;
    margin-top: 0px;
    padding: 0px;
    text-decoration: underline;
    width: auto;
}

.page-header-box .autosave .btn-danger{
    color: #ff3333;
    text-decoration: none;
}